03_spark/files/*.json
03_spark/crb-spark-operator-airflow-orchestrator.yaml
03_spark/crb-spark-operator-airflow-processing.yaml
03_spark/pr-elt-business/readme.md
.Rhistory
.Rproj.user
data/query_result_2021-08-28T08_00_17.45991Z.csv
data/query_result_2021-08-28T08_01_01.119531Z.csv
